 .container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 200px;
    background: white;
    padding-bottom: 30px;
 }

 .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
 }

 .text{
    color: blueviolet;
    font-size: 48px;
    font-weight: 600;
 }
 .underline{
    width: 61px;
    height: 6px;
    background: rgb(182, 47, 182);
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 65px;
    background: rgb(236, 231, 231);
    border-radius: 6px;
}
.input img{
    margin: 0 30px;
    height: 25px;
    width: 25px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.forgot-password span{
    color: rgb(134, 46, 134);
    cursor: pointer;
    font-weight: 500;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #fff;
    background: purple;
    border-radius: 50px;
    font-weight: 700px;
    font-size: 19px;
    cursor: pointer;
}
.gray{
    background: rgba(173, 163, 163, 0.911);
    color: #fcf9f9;
}